extends ../layout

block content
  .breadcrumb(data-test="breadcrumb")
    a.breadcrumb__link(href="/") Home
    span.breadcrumb__separator /
    a.breadcrumb__link(href="/products") Products
    span.breadcrumb__separator /
    span.breadcrumb__current #{productDetail.name()}

  .product-detail(data-test="product-detail")
    .product-detail__header
      h1.product-detail__title #{productDetail.name()}
      if productDetail.isAvailable()
        span.badge.badge--success In Stock
      else
        span.badge.badge--danger Out of Stock

    .product-detail__content
      .product-detail__image
        if productDetail.imageUrl() != null && productDetail.imageUrl() != ''
          img(src=productDetail.imageUrl() alt=productDetail.name())
        else
          .product-card__image-placeholder.product-card__image-placeholder--large #{productDetail.name().charAt(0)}

      .product-detail__info
        .product-detail__price
          span #{productDetail.priceAmount()} #{productDetail.priceCurrency()}
          span.product-detail__price-label Retail Price

        if productDetail.description() != null && productDetail.description() != ''
          .product-detail__description
            p #{productDetail.description()}

        .product-detail__meta
          .product-detail__meta-item
            span.product-detail__meta-label Category
            span.product-detail__meta-value #{productDetail.category()}
          .product-detail__meta-item
            span.product-detail__meta-label Availability
            if productDetail.isAvailable()
              span.product-detail__meta-value.text-success #{productDetail.stockQuantity()} units available
            else
              span.product-detail__meta-value.text-danger Currently out of stock

    .product-detail__actions
      if productDetail.isAvailable()
        form(method="post" action="/cart/add-product" data-test="product-add-to-cart-form")
          input(type="hidden" name="productId" value=productDetail.productId())
          input(type="hidden" name="quantity" value="1")
          button.btn.btn--primary.btn--lg(type="submit" data-test="product-add-to-cart-button") Add to Cart
      a.btn.btn--ghost(href="/products" data-test="product-back-link") Back to Products
