extends ../layout

block content
  .merge-options
    h2.merge-options__title Your Cart Has Items

    p.merge-options__intro You have items in both your current browsing session and your account. How would you like to proceed?

    if error
      .alert.alert--error(data-test="merge-error-message")= error

    .merge-options__comparison
      .merge-options__cart-box(data-test="anonymous-cart-summary")
        h3.merge-options__cart-title Current Session Cart
        .merge-options__cart-stats
          p Items: #{cartMerge.anonymousCart().itemCount()}
          p Total Quantity: #{cartMerge.anonymousCart().totalQuantity()}
          .merge-options__cart-total Total: #{cartMerge.anonymousCart().totalAmount()} #{cartMerge.anonymousCart().currencyCode()}

        if cartMerge.anonymousCart().items() && cartMerge.anonymousCart().items().size() > 0
          .merge-options__item-list
            each item in cartMerge.anonymousCart().items()
              .merge-options__item-row
                .merge-options__item-image
                  if item.imageUrl()
                    img(src=item.imageUrl() alt=item.productName())
                span.merge-options__item-name #{item.productName()}
                span.merge-options__item-qty Qty: #{item.quantity()}
                span.merge-options__item-price #{item.unitPrice()} #{item.currencyCode()}

      .merge-options__cart-box(data-test="account-cart-summary")
        h3.merge-options__cart-title Account Cart
        .merge-options__cart-stats
          p Items: #{cartMerge.accountCart().itemCount()}
          p Total Quantity: #{cartMerge.accountCart().totalQuantity()}
          .merge-options__cart-total Total: #{cartMerge.accountCart().totalAmount()} #{cartMerge.accountCart().currencyCode()}

        if cartMerge.accountCart().items() && cartMerge.accountCart().items().size() > 0
          .merge-options__item-list
            each item in cartMerge.accountCart().items()
              .merge-options__item-row
                .merge-options__item-image
                  if item.imageUrl()
                    img(src=item.imageUrl() alt=item.productName())
                span.merge-options__item-name #{item.productName()}
                span.merge-options__item-qty Qty: #{item.quantity()}
                span.merge-options__item-price #{item.unitPrice()} #{item.currencyCode()}

    h3.merge-options__title Choose an Option

    form(method="POST" action="/cart/merge" data-test="merge-form")
      input(type="hidden" name="anonymousUserId" value=cartMerge.anonymousUserId())
      if cartMerge.returnUrl()
        input(type="hidden" name="returnUrl" value=cartMerge.returnUrl())

      .merge-options__cards
        label.merge-options__card(data-test="merge-option-merge-both")
          input(type="radio" name="strategy" value="MERGE_BOTH" checked)
          .merge-options__card-title Merge Both Carts
          .merge-options__card-description Combine all items from both carts. If the same product exists in both, quantities will be added together.

        label.merge-options__card(data-test="merge-option-use-account")
          input(type="radio" name="strategy" value="USE_ACCOUNT_CART")
          .merge-options__card-title Use Account Cart Only
          .merge-options__card-description Keep your account cart and discard the items from your current session.

        label.merge-options__card(data-test="merge-option-use-anonymous")
          input(type="radio" name="strategy" value="USE_ANONYMOUS_CART")
          .merge-options__card-title Use Current Session Cart Only
          .merge-options__card-description Replace your account cart with the items from your current session.

      .form__actions
        button.btn.btn--primary.btn--lg(type="submit" data-test="merge-submit-button") Continue
