doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title || "DCA Ecommerce Sample"
    link(rel="stylesheet" href="/css/main.css")
  body
    header.site-header(data-test="site-header")
      .site-header__inner
        a.site-header__logo(href="/" data-test="site-logo") DCA Ecommerce
        nav.nav
          ul.nav__list
            li.nav__item
              a.nav__link(href="/" data-test="nav-home-link") Home
            li.nav__item
              a.nav__link(href="/products" data-test="nav-products-link") Products
        .site-header__actions
          .mini-basket(data-test="mini-basket")
            a.mini-basket__trigger(href="/cart" data-test="mini-basket-trigger")
              span Cart
              if miniBasketItemCount > 0
                span.mini-basket__count(data-test="mini-basket-count")= miniBasketItemCount
            if miniBasketItemCount > 0
              .mini-basket__dropdown(data-test="mini-basket-dropdown")
                each item in miniBasketItems
                  .mini-basket__item
                    span= item.name()
                    span x#{item.quantity()}
                .mini-basket__total
                  span Total
                  span= miniBasketTotal
                a.mini-basket__link.btn.btn--primary.btn--sm(href="/cart" data-test="mini-basket-view-cart-link") View Cart
          if identity != null && !identity.anonymous
            span.nav__link(data-test="user-greeting") Welcome, #{identity.email().orElse('User')}
          else
            a.nav__link(href="/login" data-test="nav-login-link") Login
            a.nav__link(href="/register" data-test="nav-register-link") Register

    main.site-main
      .container
        if successMessage
          .alert.alert--success(data-test="success-message")= successMessage
        if errorMessage
          .alert.alert--error(data-test="error-message")= errorMessage
        block content

    footer.site-footer(data-test="site-footer")
      .site-footer__text DCA Ecommerce Sample &mdash; Built with Domain-Centric Architecture
