extends ../layout

block content
  .checkout
    .checkout__progress(data-test="checkout-progress")
      .checkout__step.checkout__step--active Buyer Info
      .checkout__step Delivery
      .checkout__step Payment
      .checkout__step Review

    if error
      .alert.alert--error(data-test="buyer-error-message")= error

    if identity.isAnonymous()
      .checkout__auth(data-test="buyer-auth-options")
        p Already have an account? Log in to speed up checkout.
        .checkout__auth-buttons
          a.btn.btn--secondary(href="/login?returnUrl=/checkout/buyer" data-test="buyer-login-link") Login
          a.btn.btn--secondary(href="/register?returnUrl=/checkout/buyer" data-test="buyer-register-link") Register
    else
      .checkout__auth.checkout__auth--logged-in
        p Logged in as #{identity.email().orElse('')}

    h3.checkout__section-title Buyer Information

    form.checkout__form(method="post" action="/checkout/buyer" data-test="buyer-form")
      .form__group
        label.form__label(for="email") Email Address
        - var emailValue = buyerInfoPage.existingBuyerInfo() ? buyerInfoPage.existingBuyerInfo().email() : (identity.isRegistered() ? identity.email().orElse('') : '')
        input.form__input#email(type="email" name="email" required placeholder="you@example.com" value=emailValue data-test="buyer-email-input")

      .form__row
        .form__group
          label.form__label(for="firstName") First Name
          input.form__input#firstName(type="text" name="firstName" required placeholder="First Name" value=(buyerInfoPage.existingBuyerInfo() ? buyerInfoPage.existingBuyerInfo().firstName() : '') data-test="buyer-firstname-input")

        .form__group
          label.form__label(for="lastName") Last Name
          input.form__input#lastName(type="text" name="lastName" required placeholder="Last Name" value=(buyerInfoPage.existingBuyerInfo() ? buyerInfoPage.existingBuyerInfo().lastName() : '') data-test="buyer-lastname-input")

      .form__group
        label.form__label(for="phone") Phone Number
        input.form__input#phone(type="tel" name="phone" required placeholder="+1 (555) 123-4567" value=(buyerInfoPage.existingBuyerInfo() ? buyerInfoPage.existingBuyerInfo().phone() : '') data-test="buyer-phone-input")

      .form__actions
        button.btn.btn--primary(type="submit" data-test="buyer-continue-button") Continue to Delivery

    if buyerInfoPage.lineItems() && buyerInfoPage.lineItems().size() > 0
      .order-summary
        h3.order-summary__title Order Summary
        each item in buyerInfoPage.lineItems()
          .order-summary__item
            .order-summary__item-image
              if item.imageUrl()
                img(src=item.imageUrl() alt=item.productName())
            span.order-summary__item-name #{item.productName()}
            span.order-summary__item-qty x#{item.quantity()}
            span.order-summary__item-price #{item.lineTotal()} #{item.currencyCode()}

        if buyerInfoPage.totals()
          .order-summary__total
            span Subtotal
            span #{buyerInfoPage.totals().subtotal()} #{buyerInfoPage.totals().currencyCode()}
